@import 'variables.css';
@import 'utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#__next {
  height: 100%;
  cursor: url(/cursors/default.cur), default;
}

button {
  cursor: url(/cursors/green.cur), pointer;
}

button:disabled {
  cursor: url(/cursors/grey.cur), pointer;
}

.leaflet-interactive {
  cursor: url(/cursors/target.cur), pointer !important;
}

.leaflet-grab {
  cursor: url(/cursors/target.cur), grab !important;
}

.leaflet-dragging .leaflet-grab {
  cursor: url(/cursors/drag.cur), grabbing !important;
}
