.text-gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-brown-brushed {
  background-image: url(/ui/windowbg-brushed.png) !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bg-black-brushed {
  background-image: url(/ui/windowbg-glyphs.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.ptfont {
  font-family: PTSerif, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'PTSerif';
  src: url(/fonts/PTSerif-Regular.ttf);
}

.cagfont {
  font-family: Cagliostro, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Cagliostro';
  src: url(/fonts/Cagliostro-Regular.ttf);
}

.gwfont {
  font-family: GwTwo, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'GwTwo';
  src: url(/fonts/GWTwoFont.ttf);
}

.rainbow-border {
  border: solid 1px transparent !important;
  background-image: linear-gradient(white, white), linear-gradient(to left, #40e0d0, #ff8c00, #ff0080) !important;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
}
