:root {
  --breakpoint-small: 640px;
  --breakpoint-md: 768px;
  --breakpont-lg: 1024px;
  --breakpont-xl: 1020px;
  --breakpont-2xl: 1536px;
  --desktop-only-display: none;
}

@media screen and (min-width: 640px) {
  /* sm */
  :root {
    --mobile-only-display: block;
    --desktop-only-display: none;
  }
}

@media screen and (min-width: 768px) {
  /* md */
  :root {
    --mobile-only-display: none;
    --desktop-only-display: block;
  }
}
